<%= simple_form_for @menu, :html => {:class=> 'form-login'}  do |f| %> 
	<%= f.input :name %>
	<%= f.input :description %>
	<%= f.input :attachment, as: :file, label: "File" %>
	<%= f.input :attachment_cache, as: :hidden %>
	<%= f.button :submit, class: "btn-primary" %>
	<h5><%= link_to "Back", menus_path %></h5>
<% end %> 
